<h1>All Songs</h1>
<hr/>

<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id%>"><%= song.title %> </a><small>(by: <%= song.author %>)</small></h3>
    <p><a href="<%= song.link%>" target="_blank"><%= song.link%></a></p>
  </div>
<% end %>

<button><a href="/songs/new">Post your song</a></button>